<!DOCTYPE html>

<html>
    <head>
        <title>About me</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/myImage.jpg" alt="">
            <p>Shubham Thind,  B.Tech CSE </p>
            <p>Send mail: <a href="mailto:shubhamthind7@gmail.com?">shubhamthind7@gmail.com</a></p>
            <p>Contact:+91-7814832915</p>

        </div>
        
        {{>footer}}
    </body>
</html>