
<footer>
   <p>Created by {{name}}</p>
   <a class="github-link" href="https://github.com/shubhamt7" target="blank"><i class="fa fa-github"></i></a>
   <a class="linkedin-link" href="https://www.linkedin.com/in/shubham-thind-36133214b" target="blank"><i class="fa fa-linkedin"></i></a>
</footer>