<h1 class="app-name">{{title}}</h1>
<p class="tagline">Know the weather summary for any location across the globe!</p>


<header>
    
    <a href="#">"There's no better designer than mother nature"</a>
    
</header>