body{
    color: white;
    font-size: 20px;
    font-family: arial;
    max-width:650px;
    margin: 0 auto;
    padding: 0 16px;
    background: url("../img/background.jpg");
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.container{
    display: flex;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/background.jpg");
    background-size: cover;
}

.cloud{
    display:flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/cloud.png");
    animation: cloud-flow 60s linear infinite;
}

@keyframes cloud-flow{
    0%{
        background-position: 0px;
    }

    100%{   
        background-position: 5440px;
    }
}

.input-form{
    width:70%;
    margin: auto;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.8);
}
.app-name{
    color: transparent;
    font-family: 'Quicksand', sans-serif;
    animation: fadein 3s ease-in;
    animation-fill-mode: forwards;
}

.tagline{
    color: transparent;
    font-family: 'Quicksand', sans-serif;
    animation: fadein 3s ease-in;
    animation-fill-mode: forwards;
}

.fa{
    color:white;
    margin: 5px;
}
.fa:hover{
    color: skyblue;
}

@keyframes fadein{
    from{
        color: transparent;
    }
    to{
        color: skyblue;
    }
}



.main-content{
    flex-grow:1;
}

header{
    margin-top:16px;
    margin-bottom:48px;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}


header a{
    color:white;
    text-align: center;
    text-decoration: none;
    font-style: italic;
}

.portrait{
    width:250px
}

input{
    border: 1px solid #cccccc;
    padding: 8px
}


button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color:white;
    padding: 8px
}

@media(max-width: 770px){
    .app-name{
        font-size: 30px;
    }

    body{
        font-size: 15px;
    }
}